@charset "utf-8";

/* 기본적인 구조의 스타일 적용 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: #000;
    /* overflow: hidden; */
}

.limbg {
    background-image: url(image/limbg4.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
}

a {
    text-decoration: none;
    display: block;
}

html {
    width: 100vw;
    height: 100vh;
}
    
body {
    width: 100%;
    height: 100vh;
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
}

/* 상단바 header에 관한 스타일 */

header {
    background-color: brown;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
}

.logo {
    float: left;
    width: 50px;
    margin: 25px;
    height: 50px;
    margin-right: 0;
}

#title {
    float: left;
    width: 100px;
    height: 50px;
    margin: 25px;
}

.mainMenu {
    float: left;
    width: 350px;
    height: 50px;
    margin: 25px;
    margin-left: 200px;
}

.mainMenugap {
    display: flex;
    gap: 50px;
}

.mainMenu > ul > li {
    float: left;
    width: 70px;
    height: 50px;
    position: relative;
}

.subMenu {
    position: absolute;
    top: 75px;
    display: none;
}

/* 메인에 대한 스타일 적용 */

/* index */

.main {
    width: 100%;
    height: calc(100% - 130px);
    background-color: rgb(0, 0, 0);
}

.cimg2 {
    width: 220px;
    height: 300px;
}

.cardSet {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    justify-content: center;
    margin-top: 20px;
    row-gap: 60px;
    column-gap: 100px;
}

/* keyword */

.keywordbody {
    width: 100%;
    height: 155%;
}

.keywordmain {
    width: 100%;
    height: calc(120% - 200px);
    background-color: tomato;
}

.keywordimgsize {
     display: flex;
    margin-left: 590px;
    margin-top: 25px;
}

.kimgc {
    margin-top: 150px;
}

.kimgd {
    margin-top: -20px;
}

.kimge {
    margin-top: 150px;
}

.klgrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 200px;
}

/* gift */

.giftbody {
    width: 100%;
    height: 300%;
}

.giftmain {
     width: 100%;
    height: calc(1900px - 200px);
    background-color: tomato;
}

.kcd {
    display: flex;
    margin-left: 450px;
    margin-right: auto;
    margin-top: 25px;
    
}
.kcd1{
    display: flex;

    margin-left: 450px;
    margin-right: auto;
}
.kcdmargin {
    margin-top: 50px;
}

.kcdamargin {
    margin-left: 250px;
}

.box{
    border-radius:20px;
    background-color:rgb(46, 46, 46);
    padding:15px 5px;
    margin:5px auto;
    max-width:640px
}

.giftsize {
    width: 1000px;
    height: 200px;
    margin-top:  -20px;
    margin-left: -20px;
}


/* footer에 관한 스타일 적용 */

footer {
    width: 100vw;
    height: 100px;
    position: relative;
}

.leftFooterBox {
    width: 45vw;
    height: 100px;
    float: left;
}

.fanMade {
    padding-left: 30px;
    padding-top: 2px;
    width: fit-content;
    height: min-content;
}

.teamName {
    width: fit-content;
    height: min-content;
    padding-top: 10px;
    padding-left: 30px;
}

.gitSite {
    width: fit-content;
    height: min-content;
    padding-top: 10px;
    padding-left: 30px;
}

.copyrightBox{
    float: right;
    width: 50vw;
    height: 100px;
    background-color: wheat;
}

.copyright{
      width: 45vw;
    height: 100px;
    float: right;
}

.info {
    display: none;
     width: 45vw;
    height: 100px;
    float: right;
}


/* 기타(audio, popup 등)에 관한 스타일 적용 */

audio {
    margin-top: 25px;
    margin-left: 750px;
}

