@charset "utf-8";

/* 기본적인 구조의 스타일 적용 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: #000;
    /* overflow: hidden; */
}

.limbg {
    background-color: black;
    background-image: url(../image/limbg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
}

.textcolorgold {
    color: gold;
    margin-left: 40px;
}

.textcolorgold2 {
    color: gold;
    text-align: center;
}

.textcolorgold3 {
    color: gold;
    font-weight: bold;
    font-size: 25px;
}

/* 상단바 header에 관한 스타일 */

header {
    background-color: brown;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
}

.logo {
    float: left;
    width: 50px;
    margin: 25px;
    height: 50px;
    margin-right: 0;
}

#title {
    float: left;
    width: 150px;
    height: 50px;
    margin: 25px;
}

.mainMenu {
    float: left;
    width: 500px;
    height: 50px;
    margin: 25px;
    margin-left: 200px;
}

.mainMenugap {
    display: flex;
    gap: 50px;
}

.mainMenu>ul>li {
    float: left;
    width: 150px;
    height: 50px;
    position: relative;
}

.subMenu {
    position: absolute;
    top: 75px;
    display: none;
}

/* 카드 효과 (수정 필요) */

.container {
    position: relative;
    width: 220px;
    height: 310px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 220px;
    height: 310px;
    background: linear-gradient(105deg,
            transparent 40%,
            rgba(255, 219, 112, 0.8) 45%,
            rgba(132, 50, 255, 0.6) 50%,
            transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
}

.cardbox {
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
    width: 900px;
}

.cardbox2 {
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
    width: 450px;
}

.cardbox3 {
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
    width: 900px;
    margin-left: -678px;
}


.card {
    width: 220px;
    height: 310px;
    background-image: url(../image/1.png);
    background-size: cover;
}

/* 메인에 대한 스타일 적용 */

/* index */

.main {
    background-color: black;
    background-image: url(../image/limbg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 710px;
}

.cimg {
    width: 220px;
    height: 300px;
    position: absolute;
}

.cardSet {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    justify-content: center;
    margin-top: 40px;
    margin-left: -35px;
    row-gap: 60px;
    column-gap: 100px;
}

.zkem {
    width: 220px;
    height: 300px;
}


/* keyword */

.keywordbody {
    width: 100%;
    height: auto;
}

.keywordmain {
    background-color: black;
    background-image: url(../image/limbg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: auto;
 }

.keywordimgsize {
    display: flex;
    margin-left: 300px;
    margin-top: 25px;
}

.keywordimgsize2 {
    width: 150px;
    height: 100px;
}

.kimgc {
    margin-top: 150px;
}

.kimgd {
    margin-top: -20px;
}

.kimge {
    margin-top: 150px;
}

.klgrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 200px;
}

/* gift */

.giftbody {
    width: 100%;
    height: 300%;
}

.giftmain {
    background-color: black;
    background-image: url(../image/limbg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: auto;
}

.kcd {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-top: 25px;
}

/* .kcdmargin {
    margin-top: 50px;
}

.kcdamargin {
    margin-left: 250px;
} */

.box {
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
    padding: 15px 5px;
    margin: 5px 300px;
    width: 1010px;
}

.giftsize {
    width: 1000px;
    height: 200px;
    margin-top: -20px;
    margin-left: -20px;
    border: 2px solid;
    border-color: gray;
}

.whgkqtlr {
    width: 1000px;
    height: 650px;
    margin-left: -20px;
    border: 2px solid;
    border-color: gray;
}

/* footer에 관한 스타일 적용 */

.footer1 {
    margin-top: 4px;
    width: 100%;
    height: 100px;
}

footer {
    width: 100%;
    height: 100px;
}

.leftFooterBox {
    background-color: white;
    width: 50%;
    height: 100px;
    float: left;
}

.fanMade {
    padding-left: 30px;
    padding-top: 2px;
    width: fit-content;
    height: min-content;
}

.teamName {
    width: fit-content;
    height: min-content;
    padding-top: 10px;
    padding-left: 30px;
}

.gitSite {
    width: fit-content;
    height: min-content;
    padding-top: 10px;
    padding-left: 30px;
}

.copyrightBox {
    float: right;
    width: 50%;
    height: 100px;
    background-color: wheat;
}

.copyright {
    width: 10vw;
    height: 100px;
    padding-top: 35px;
    float: right;
}

.info {
    display: none;
    width: 45vw;
    height: 100px;
    padding-top: 35px;
    float: right;
}


/* 기타(audio, popup 등)에 관한 스타일 적용 */

audio {
    margin-top: 25px;
    margin-left: 750px;
}